HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/gen/
/ewm-service/src/main/java/ru/practicum/explore_with_me/utils/ErrorStatus.java
/ewm-service/src/test/java/ru/practicum/explore_with_me/repository/LocationRepositoryTest.java
/ewm-service/src/main/java/ru/practicum/explore_with_me/model/location/GeoPoint.java
